extends layout

block content
  h1(class="text-slate-500 text-5xl capitalize")= title

  form(method='POST' action='')
    div(class="flex flex-col gap-10 my-10")
      div.form-group(class="flex gap-5")
        label(for='name' class="capitalize text-2xl text-slate-600") Name:
        input#name.form-control(type='text', placeholder='Name' name='name' required='true' value=(undefined===category ? '' : category.name) )
      div.form-group(class="flex gap-5")
        label(for='description' class="capitalize text-2xl text-slate-600") Description:
        textarea#description.form-control(rows="3", cols="30" placeholder='Description' name='description' required='true' value=(undefined===category ? '' : category.description) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg

//- title: "Create Category",
//- category: req.body,
//- errors: errors.array(),


