extends layout

block content
  h1(class="capitalize text-4xl") #{title}: #{item.title}

  p(class="text-blue-500") Do you really want to delete this item?

  form(method='POST' action='')
    div.form-group(class="flex max-w-lg w-full justify-between gap-5 my-10")
      label(for='password' class="capitalize text-2xl text-slate-600") Delete Password:
      input#password.form-control(type='password' class="text-right px-3" placeholder='Password' name='password' required='true' )

    div.form-group
      input#item.form-control(type='hidden', name='id', required='true', value=item._id )

    button.btn.btn-primary(type='submit' class="px-6 py-2.5 bg-red-600 hover:bg-red-700 text-white font-medium text-xs leading-tight") Delete

